[Unit]
Description=Start Face Frenzy Game on Boot
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/xilinx/case-II/start.sh
WorkingDirectory=/home/xilinx/case-II
StandardOutput=inherit
StandardError=inherit
Restart=on-failure

[Install]
WantedBy=multi-user.target